body{
   /*background-color: red;*/
   /*background-color:#ddc;
   background-color:rgb(100%, 0%, 0%
   background-color:rgb(255, 226, 0);
   background-color:hsl(0, 100%, 50%);*/
   color:hsl(0%,100%, 50%);

}
ul{ border: 1px, solid blue;}
